<div class="col-md-4" *ngFor="let empleado of empleados">
    <div class="card text-center">
        <div class= "card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{empleado.name}}
            <button class="btn btn-danger" (click)="deleteEmpleado(empleado.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="empleado.image" class="card-img-top">
        <div class="card-body"> 
            <p>{{empleado.description}}</p>
            <a [routerLink]="['/empleados/edit',empleado.id]" class="btn btn-info btn-block" >
                EDIT GAME
            </a>

        </div>
    </div>
</div>

