
<form autocomplete="off" [formGroup]="autocontrolForm" (ngSubmit)="guardar()">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

    <div>
    <!-- Primera file NOMBRE   -->
 
          <select class="custom-select" formControlName="nombreEmp"  >
         
          <option disabled>Seleccionar empleado</option>
          <option *ngFor="let empleado of empleados" [ngValue]="empleado" >Empleado: {{empleado.nombre}}</option>
       </select>
   </div>

       <br>
       <br>

    <div class="row">  

      <div class="col-xs-12 " >
        <input
          type="text"
          placeholder="Choose date"
          
          bsDatepicker
          formControlName="fecha"
        
          [bsConfig]="{ isAnimated: true }">
      </div>
    </div>


    

    <br>
<!-- bootstrap select  -->

      <select class="form-control form-control-lg" >
        <option  *ngFor = "let empleado of empleados" [value]=empleado.id>{{empleado.nombre}}</option>
      </select>

    
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-outline-primary btn-block">
            Guardar
          </button>
        </div>
      </div>


<br>


</form>



