

<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
  <div class="form-group row">
    <label class="col-2 col-form-label">Fecha</label>
    <div class="col example-full-width">
        <input matInput [matDatepicker]="picker" class="form-control" placeholder="Fecha"  formControlName="fecha_tarea">
        <mat-datepicker #picker></mat-datepicker>
        <button mat-raised-button (click)="picker.open()">Open</button>       
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col">
        <select class="form-control" 
                placeholder="Nombre"  
                formControlName="id_empleado">
                <option id="nombre"   
                [value] = "empleado.id"
                 *ngFor = "let empleado of empleados" 
                [value]=empleado.id>{{empleado.nombre}}</option>
        </select>
         
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Zona de la tienda</label>
      <div class="col">
        <select (change)="cargarElementosZona($event.target.value)" 
                class="form-control" 
                placeholder="Zona"  
                formControlName="id_zona">
               <option  *ngFor = "let zona of zonasTienda" [value]=zona.id>{{zona.nombre}}</option>
        </select>         
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Qué parte concretamente</label>
      <div class="col">
        <select  class="form-control" 
                 placeholder="Zona"  
                 formControlName="id_elementozona">
                <option  *ngFor = "let elemento of elementosZona" [value]=elemento.id>{{elemento.description_obj}}</option>
        </select>         
      </div>
    </div>


    <div class="form-group row align-items-end">
      <label class="col-2 col-form-label" value="">Finalizada</label>
      <div class="col">
       <label><input type="checkbox" value="" formControlName="finalizada"></label>
      </div>                                        
     </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>  
</form>


<!-- Tabla Angular material -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   <!-- id Column -->
   <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
    <mat-cell *matCellDef="let element" > 
      {{element?.fecha_tarea | date: 'dd/MM/yyyy'}}      
   </mat-cell>
      
  </ng-container>  

  <!-- Fecha Column -->
  <ng-container matColumnDef="fecha">
    <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element?.id}} </mat-cell>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element?.nombre}} </mat-cell>
  </ng-container>

  <!-- Zona Column -->
  <ng-container matColumnDef="zona">
    <mat-header-cell *matHeaderCellDef>Zona</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element?.zona}} </mat-cell>
  </ng-container>

  <!-- Parte Column -->
  <ng-container matColumnDef="parte">
    <mat-header-cell *matHeaderCellDef>Parte</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element?.parte}} </mat-cell>
  </ng-container>

  <!-- Finalizada Column -->
  <ng-container matColumnDef="finalizada">
    <mat-header-cell *matHeaderCellDef>Finalizada</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.finalizada ? 'Sí' : 'No'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row, $event)"></mat-row>
</mat-table>

<!--  SIBILINGS ENTRE COMPONENTES
  SERIA EQUIVALNETE A DARLE UN BOTON EN ELEJEMPLO QUE COPIAMOS
  https://stackblitz.com/edit/angular-6-communicating-between-components-1gunkw?file=app%2Fhome%2Fhome.component.html

  EN NUESTRO CASO SERIA UN SENDMESSAGE AL DAR CLICK EN EL BOTON

  
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
  <button  (click)="sendMessage()" class="btn btn-primary">Send Message</button>

-->



<br>
<pre>
  Estado del formulario {{forma.valid}}  
</pre>




 <!-- 
<pre>

 estado del mensaje padre {{parentMessage}} 
</pre>
<app-editarea [childMessage]="parentMessage"></app-editarea> -->